<nav>
  <a routerLink="/">Főoldal</a>
  <a routerLink="/products">Termékek</a>

  <span style="margin-left:auto"></span>

  <ng-container *ngIf="user$ | async as user; else loggedOut">
    <a routerLink="/cart" class="cart-link">
      🛒 Kosár
      <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
    </a>
    <span style="margin: 0 1rem;">👤 {{ user.email }}</span>
    <button (click)="logout()">Kijelentkezés</button>
  </ng-container>

  <ng-template #loggedOut>
    <a routerLink="/login">Belépés</a>
    <a routerLink="/register">Regisztráció</a>
  </ng-template>
</nav>
