/* Fejléc háttérszínének módosítása */
.mat-header-cell {
  background-color: #fff !important; /* Fehér háttér */
  color: #333 !important; /* Sötétebb szöveg a fejlécben */
}

/* Az összes cella háttérszínének módosítása */
.mat-cell {
  background-color: #fff !important; /* Fehér háttér minden cellában */
  color: #333 !important; /* Olvasható szöveg színe */
}

/* Ha van táblázat sávos megjelenítés, azt is felülírhatjuk */
.mat-table {
  background-color: #fff !important; /* Fehér háttér a táblázatnak */
}
